{% extends 'base.html' %}

{% block content %}
<h4>Todo</h4>
<hr>
<ul>
  {% for todo in todos %}
  {% if request.user == todo.author %}
    <li>
      {{ todo.author }} - {{ todo.title }}
      <br>
      {% if request.user == todo.author %}
        <form action="{% url 'todos:update' todo.pk %}" method=POST>
          {% csrf_token %}
          {% if todo.completed %}
            <input type="submit" value='완료하기'>
          {% else %}
            <input type="submit" value='취소하기'>
          {% endif %}
        </form>
      {% endif %}

      {% if request.user == todo.author %}
        <form action="{% url 'todos:delete' todo.pk %}" method=POST>
          {% csrf_token %}
          <input type="submit" value="delete">
        </form>
      {% endif %}
    </li>
  {% endif %}
  {% empty %}
  <li>작성된 글이 없습니다.</li>
  {% endfor %}


</ul>


{% endblock content %}