<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if message == None %}
  <p>아무것도 받지 못함</p>
  {% else %}
  <p>catch : {{ message }}을/를 받음!</p>
  {% endif %}
  <form action="{% url 'throw_catch:second' %}" method='GET'>
    <label for="message">throw :</label>
    <input type="text" name='message'>
    <input type="submit">
  </form>

</body>
</html>