{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="card" style="width: 18rem; margin:auto" >
    <img src="{{ movie.poster_url }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">Audience : {{ movie.audience }}</p>
      <p class="card-text">Release Dates : {{ movie.release_date }}</p>      
      <p class="card-text">Genre : {{ movie.genre }}</p>
      <p class="card-text">Score : {{ movie.genre }}</p>
      <p class="card-text">{{ movie.description }}</p>

      <form action="{% url 'movies:update' movie.pk %}" style='display:inline'>
        <input type="submit" class="btn btn-primary" value='UPDATE'>
      </form>

      <form action="{% url 'movies:delete' movie.pk %}" method='POST' style='display:inline'>
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value='DELETE'>
      </form>
      
    </div>
  </div>
<form action="{% url 'movies:index' %}">
  <input type="submit" class="btn btn-warning" value='back'>
</form>

{% endblock content %}