{% extends 'base.html' %}

{% block content %}
<h1 align='end'>articles</h1>
<a href="{% url 'articles:new' %}">new</a>
<hr>
{% for article in articles %}
  <p>글 번호:{{ article.pk }}</p>
  <p>글 제목:{{ article.title }}</p>
  <p>글 내용:{{ article.content }}</p>
  <a href="{% url 'articles:detail' article.pk %}">[detail]</a>
  <br>
  <a href="{% url 'articles:edit' article.pk %}">EDIT</a>
  <br>
  <a href="{% url 'articles:delete' article.pk %}">
    <input type="button" value="DELETE">
  </a><br>
  <hr>
{% endfor %}

{% endblock content %}