{% extends 'base.html' %}

{% block content %}
    <h1>Main Page</h1>
    <a href="{% url 'articles:new' %}">NEW</a>
    <hr>
    {% for article in articles %}
        <p>글번호 : {{ article.pk }}</p>
        <p>글제목 : {{ article.title }}</p>
        <p>글내용 : {{ article.content }}</p>
        <a href="{% url 'articles:edit' article.pk %}">update</a>
        <a href="{% url 'articles:detail' article.pk %}">detail</a>
        <a href="{% url 'articles:delete' article.pk %}">delete</a>
        <hr>
    {% endfor %}
{% endblock content %}