{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr>
    <p><img src="{{ movie.poster_url }}" width="200" height="200"></p>
    <h4>{{ movie.title }}</h4>
    <p>Audience:{{ movie.audience }}</p>
    <p>Release Dates:{{ movie.release_date }}</p>
    <p>Genre:{{ movie.genre }}</p>
    <p>Score:{{ movie.score }}</p>
    <p>{{ movie.description }}</p>
    <a href="{% url 'movies:edit' movie.pk %}">EDIT</a><br>
    <a href="{% url 'movies:delete' movie.pk %}">
        <input type="button" value="DELETE">
    </a><br>
    <a href="{% url 'movies:index' %}">BACK</a>
    
{% endblock content %}