<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>catch! I catch {{ catch_first_throw }}!</h1>
  <form action="{% url 'throw_loops:third' %}" method='POST'>
    {% csrf_token %}
    <label for="second_throw_1">and throw!</label>
    <input type="text" id='second_throw_1' name='second_throw_1'>
    <label for="second_throw_2">twice!</label>
    <input type="text" id='second_throw_2' name='second_throw_2'>
    <input type="submit" value='휙'>

  </form>
</body>
</html>